.nav__list {
    display: flex;
    gap: 33px;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
    padding: 43px 0px;
}

.nav__item {
    color: #83888F;
    font-family: 'Barlow';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.Title {
    color: #FEFCF7;
    font-family: Fraunces 9pt;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.header__title {
    background-image: url(/static/images/png/header-bg-img.png);
    height: 450px;
    background-repeat: no-repeat;
}

.header__title p {
    margin-top: 32px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.creatplan {
    padding: 85px 130px;
}