.plan {
    margin-top: 150px;
    padding: 100px 85px;
    background-color: #2C343E;
    border-radius: 3px;
}

.plan__data {
    margin-top: 67px;
    display: flex;
    gap: 95px;
}

.plan__item-one {
    color: #FDD6BA;
    font-family: 'Fraunces 9pt';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.plan__item-two {
    margin-top: 38px;
    color: #FEFCF7;
    font-family: 'Fraunces 9pt';
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
}

.plan__item-three {
    margin-top: 42px;
    color: #FEFCF7;
    font-family: 'Barlow';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.questions__item {
    color: #333D4B;
    font-family: 'Fraunces 9pt';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    opacity: 0.5;
    gap: 25px;
}

.questions__item:hover {
    cursor: pointer;
    opacity: 1;
}

.questions {
    margin-top: 159px;
    gap: 125px;
    display: flex;
}

.questions__list {
    width: 255px;
}

.top {
    display: flex;
    gap: 80px;
    align-items: center;
}

.top h2 {
    color: #83888F;
    font-family: 'Fraunces 9pt';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.a {
    padding: 32px 28px 84px;
    border-radius: 8px;
    background: #F4F1EB;
}

.a p {
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.a h4 {
    color: #333D4B;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.b {
    padding: 32px 28px 80px;
    border-radius: 8px;
    background: #0E8784;
}   
.b p {
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.b h4 {
    color: #FFF;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.cards {
    margin-top: 56px;
    display: flex;
    gap: 23px;
}

.cards p {
    margin-top: 24px;
}

.order {
    margin: auto;
    margin-top: 85px;
    padding: 30px 64px;
    background-color: #2C343E;
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.order span {
    color: #0E8784;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.order h5 {
    color: #FFF;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.main__btn {
    padding: 15px 35px;
    border-radius: 6px;
    background: #0E8784;
    margin-right: auto;
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces 9pt;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    margin-right: auto;
}